<html lang='en'>
	<head>
		<meta charset='UTF-8' />
		<meta name='viewport' content='width=device-width, initial-scale=1.0' />
		<title>Survey Constructor | {{title}}</title>
		<link rel='stylesheet' href='/styles.css' />

	</head>
	<body>
		<h1 class='align-center'>{{title}} | Survey Constructor</h1>
		<nav>
			<ul class='menu-list'>
				<li><a href='/' class='{{#if (eq currentPath "/")}}active{{/if}}'>Main page</a></li>
				<li><a href='/create' class='{{#if (eq currentPath "/create")}}active{{/if}}'>Create a survey</a></li>
				<li><a href='/list' class='{{#if (eq currentPath "/list")}}active{{/if}}'>My surveys</a></li>
				{{#if user}}
					<li><a href='/logout'>Logout</a></li>
				{{else}}
					<li><a href='/login' class='{{#if (eq currentPath "/login")}}active{{/if}}'>Login</a></li>
				{{/if}}
			</ul>
		</nav>
		<div class='content'>
			{{{body}}}
		</div>

		<footer>
			<p class='align-center'>&copy; <span id='year'></span> Nikolai Tyranov</p>
		</footer>

		<script>
			document.getElementById('year').textContent = new Date().getFullYear();
		</script>
	</body>
</html>