<form method='post' class='loginForm'>
	{{#if notification}}
		<div class='notification'>
			<p>{{notification}}</p>
		</div>
	{{/if}}
	<p>
		Use these credentials!<br />
		username: admin2
		<br />
		password: 12
	</p>
	<label for='username'>username</label>
	<input type='text' name='username' placeholder='Enter your username' />

	<label for='password'>password</label>
	<input type='password' name='password' placeholder='Enter your password' />

	<button class='padding-5' type='submit'>submit </button>

	<p><a href='/login/registration' class='grey'>create an account</a></p>
</form>