{{#if notification}}
	<div class='notification align-center'>{{notification}}</div>
{{/if}}

<form method='post' class='loginForm'>
	<a href='/login'>Back to login</a>
	{{#if error}}
		<div>
			<p>{{error}}</p>
		</div>
	{{/if}}
	<label for='username'>Username:</label>
	<input id='username' type='text' name='username' placeholder='Enter your username' />

	<label for='password'>Password:</label>
	<input id='password' type='password' name='password' placeholder='Enter your password' />

	<button type='submit' class='button'>Create an account</button>
</form>