{{#if notification}}
	<div class='notification align-center'>{{notification}}</div>

{{/if}}
<a href='/login'>Back to login</a>
<form method='post' class='loginForm'>
	{{#if error}}
		<div>
			<p>{{error}}</p>
		</div>
	{{/if}}
	<label for='username'>username</label>
	<input type='text' name='username' placeholder='Enter your username' />

	<label for='password'>password</label>
	<input type='password' name='password' placeholder='Enter your password' />

	<button type='submit'>create an account</button>
</form>