:root {
	--blue: #0d6efd;
	--light-blue: #4DD0E1;
	--dark-grey: #424242;
	--grey-50: rgb(95, 95, 95);
	--grey: rgb(181, 181, 181);
	--light-grey: #E0E0E0;

	--red: #F06292;
	--black: #000;
	--white-80: rgba(255, 255, 255, 0.8);
	--white: #fff;
	
}

::before,
::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	font-family: "Roboto", sans-serif;
	height: 100%;

	display: flex;
	flex-direction: column;
}
*,

a {
	text-decoration: none;
	color: (var(--black));
}

a.active {
	font-weight: bold;
	color: var(--white-80);
}

a:hover {
	color: var(--grey);
}

button:hover {
	cursor: pointer;
}

footer {
	padding: 10px;
}

label > input {
	cursor: pointer !important;
}

label:hover {
	color: var(--grey-50)
}
/* header start */
header {
	background: linear-gradient(135deg, #e0f7fa 0%, #4dd0e1 50%, #00acc1 100%);
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5px 10px;
	margin-bottom: 25px;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

footer{
	text-align: center;
}

.logo {
	font-size: 48px;
	display: flex;
	gap: 3px;
	align-items: center;
	white-space: nowrap;
	color: var(--black);
}

.logo img {
	max-width: 60px;
}

.logo-description {
	font-size: 11px;
}

.menu-list {
	font-size: 15px;
	list-style: none;
	text-decoration: none;
	display: flex;
	justify-content: center;
	align-items: center;
	text-transform: capitalize;
	white-space: nowrap;
	padding: 0 !important;
}

.menu-list ul {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 !important;
	
}

.menu-list li:not(:last-child)::after {
	content: "|";
	margin: 0 5px;
	white-space: nowrap;
}

.menu-list li:hover a {
	color: rgb(255, 255, 255);
}
/* header end */

/* index start */
.page-title {
	font-size: 24px;
	margin-bottom: 30px;
	text-align: center;
}

.cards-list {
	margin: 10px 0;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	justify-items: center;
	gap: 10px;
}

.card {
	padding: 10px;
	display: flex;
	flex-direction: column;
	gap: 4px;
	border: 1px solid var(--black);
	border-radius: 12px;
	max-width: 220px;
	min-height: 280px;
	width: 100%;
	overflow: hidden;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
	transition:
		transform 0.2s ease,
		box-shadow 0.2s ease;
}

.card:hover {
	transform: translateY(-4px);
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.title {
	font-weight: 600;
	display: flex;
	align-items: center;
	text-align: center;
	white-space: wrap;
	max-width: 200px;
	text-transform: capitalize;
	text-overflow: ellipsis;
}
.title img {
	max-width: 50px;
}

.card a {
	margin-top: auto;
	margin-left: auto;
	align-self: flex-end;
	font-size: 13px;
	color: var(--blue);
	text-decoration: none;
}

.card a:hover {
	text-decoration: underline;
}

/* index end */

.button {
	display: flex;
	justify-self: center;
	padding: 10px;
	background-color: var(--light-blue);
	border: none;
	border-radius: 5px;
}

.button:hover {
  background-color: #00bcd4;
  transition: background-color 0.3s ease;
}

.text-align-center {
	text-align: center;
}
.align-center {
	margin: 0 auto;
	max-width: 100%;
}

.align-right {
	text-align: right;
}

.padding-10-0 {
	padding: 10px 0;
}

.padding-5 {
	padding: 5px;
}

.margin-5 {
	margin: 5px 0;
}

.grey {
	color: rgb(86, 86, 86);
}

.grey:hover {
	color: var(--black)
}

.cursorPointer {
	cursor: pointer;
}

.content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex: 1;
	padding: 0 10px;
}


/* create survey */
.form-survey {
	display: flex;
	flex-direction: column;
	max-width: 500px;
	margin: 0 auto;
}

.form-survey form {
	margin-top: 20px;
}

.form-survey h2 {
	text-align: center;
}

.checkBox {
	display: flex;
	align-items: center;
	gap: 5px;
}

.survey {
	margin: 5px 0;
}

.question {
	margin-top: 5px;
	padding: 10px 0;
	border-bottom: 1px solid var(--black);
}

.question:first-child {
	margin-top: 5px;
	padding: 10px 0;
	border-top: 1px solid var(--black);;
	border-bottom: 1px solid var(--black);;
}

.question-input {
	width: 100%;
}

.question-block {
  margin: 40px auto;
  padding: 20px;
  background: var(--white);
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  max-width: 700px;
}


.question-block h3 {
  margin-top: 0px;
}

.question-block h4 {
  margin-bottom: 12px;
  font-size: 1.2rem;
  color: var(--dark-grey);
  font-weight: 600;
  text-align: center;
}


.survey-answers {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	flex-wrap: wrap;
}

.answer-option {
	display: flex;
	align-items: center;
	gap: 5px;
}

.add-answer {
	cursor: pointer;
}

.controls-buttons {
	display: flex;
	justify-content: space-between;
}

.charts {
	max-width: 600px;
	margin: 0 auto;
}

.loginForm {
	display: flex;
	flex-direction: column;
	gap: 8px;
	max-width: 350px;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	width: 100%;
}

.loginForm input {
	width: 100%;
	min-height: 25px;

}
.loginForm label {
	align-self: flex-start;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: 700;
}

.loginForm a.grey {
  font-size: 14px;
  margin-top: 10px;
  color: var(--blue);
}
.loginForm a.grey:hover {
  text-decoration: underline;
}

.notification {
	padding: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 300px;
	margin: 0 auto;
	border: 1px solid sandybrown;
}

.surveyList {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	gap: 5px;
}

.surveyCard {
	padding: 5px 15px;
	border: 1px dotted black;
	display: flex;
	justify-content: space-between;
}

.surveyButtons {
	display: flex;
	gap: 5px;
	justify-content: center;
	align-items: center;
	padding: 0 10px;
}

.viewSurvey--wrapper {
	display: flex;
	flex-direction: column;
	gap: 5px;
	padding: 0 10px;
}

.link {
	align-self: flex-end;
	justify-items: flex-end;
	margin-top: auto;
}

@media (max-width: 900px) {
	.cards-list {
		grid-template-columns: repeat(3, 1fr);
		gap: 5px;
	}
}

@media (max-width: 680px) {
	header {
		flex-direction: column;
		gap: 15px;
	}

	.cards-list {
		grid-template-columns: repeat(2, 1fr);
		gap: 5px;
	}

	footer{
	font-size: 14px;
}
}

@media (max-width: 500px) {
	footer{
	font-size: 12px;
}
	.cards-list {
		grid-template-columns: repeat(1, 1fr);
	}

	.card {
		padding: 10px;
		max-width: none;
		min-height: 200px;
		width: 100%;
	}

	.title {
		max-width: none;
	}
}
